<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include('../partials/home/head') %>
      </head>
    <header> 
      <%- include('../partials/home/nav') %> 
              <div class="bg-dark landing-sass-header-content" style=background-image:url(/assets/img/header-bg2.png)> 
          <div class="container"> 
          </div>
        </div>
        <div class="text-center landing-sass-header-img-wrapper" >
          <img src="/assets/img/leaderboard.webp" alt="header-img" class="img-fluid" width="505px">>
        </div>
        </header>
      <main> 
        <div class="container"> 
          <section class="mb-5"> 
            <div class="row"> 
              <div class="col"> 
                <br>
                <div class="table-responsive"> 
                  <table class="table table" id="dataTable" width="100%" cellspacing="0"> 
                    <thead> 
                      <center> 
                        <h3 class='text-muted'>
                          <%=guild_name %> - Message Counts
                            </h3>
                          </center> 
                        <div class="alert alert-white alert-dismissible fade show mb-5" role="alert"> 
                          <center>
                            <i data-feather="alert-circle" class="mr-2">
                            </i>Please note that you are able to switch the table to sort from highest to smallest by clicking on the category. 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                              <span aria-hidden="true">&times;
                              </span> 
                            </button> 
                            <tr> 
                              <th class='text-muted'>Message Count
                              </th> 
                              <th class='text-muted'>Member Tag
                              </th> 
                              <th class='text-muted'>Member ID
                              </th> 
                            </tr>
                            </thead> 
                          <tbody> 
                            <% for(i of Messages){%> 
                              <tr> 
                                <td class='text-muted'> 
                                  <%=i.messageCount %> 
                                    </td>
                                <td class='text-muted'> 
                                  <%=discord_data.users.cache.get(i.userID) ? discord_data.users.cache.get(i.userID).tag : "Not In Guild" %> 
                                    </td>
                                <td class='text-muted'> 
                                  <%=i.userID %> 
                                    </td>
                              </tr>
                              <%}%> 
                                </tbody> 
                              </table> 
                        </div>
                        </section>
                      </main>
                    <%- include('../partials/home/footer') %> 
                      <%- include('../partials/home/end') %>
